@import '../../styles/variaveis';
@import '../../styles/breackpoints';

.footer {
  background-color: $red;
  display: flex;
  color: $light-grey;
  justify-content: space-around;
  align-items: center;
  a {
    color: $light-grey;
  }
  padding: 10px $padding-horizontal;
  @media (max-width: $mobile) {
  padding: 10px $padding-horizontal-mobile;
  }
  @media (min-width: $tablet_sm) and (max-width: $tablet) {
  padding: 10px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
  padding: 10px $padding-horizontal-md;
  }
}