@import '../../styles/variaveis';
@import '../../styles/breackpoints';

.cardapio {
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }
}
